@import _variables.sass

.about-my-dream-team
    margin: 0 auto
    display: flex
    flex-direction: column
    max-width: 192rem  
    min-height: 100vh

.about-title
    font-size: 3rem
    color: $color-text-main
    font-weight: normal
    margin-bottom: 6.6rem

.about-content
    display: flex
    flex-direction: column
    margin: 4.1rem 9rem
    flex:  1 1 auto

.about-container
    display: flex
    gap: 2.4rem
    flex-wrap: wrap
    justify-content: space-around

.about-team
    width: 29.7rem
    height: 51.1rem
    
    // background-color: red
    

.photo-our-team
    border-radius: 8px    
   

.image-container-about
    position: relative
    width: 29.7rem
    height: 35rem  
    margin-bottom: 1.6rem
    

.team-info p 
    margin-bottom: 1.6rem
    font-size: 1.8rem

.team-info:lastchild
    margin-bottom: 0px

.about-linkedin
    font-size: 1.8rem