@import _variables.sass

.about-my-dream-team
    margin: 0 auto
    display: flex
    flex-direction: column
    max-width: 192rem      
    min-height: 100vh

.about-title
    font-size: 4rem
    color: $color-text-main
    font-weight: normal
    margin-bottom: 6.6rem
    @media only screen and (max-width: 1023px)
        margin-bottom: 0
    @media only screen and (max-width: 740px)
        text-align: center
    @media only screen and (max-width: 480px)
        font-size: 3rem
        // margin-bottom: 3rem

.about-content
    display: flex
    flex-direction: column
    margin: 4.1rem 9rem 10rem
    flex:  1 1 auto
    @media only screen and (max-width: 1023px)
        margin: 2.4rem 6rem 10rem
        gap: 2.4rem
    @media only screen and (max-width: 480px)
        gap: 3rem

    @media only screen and (max-width: 740px)
        margin: 2.4rem 4rem 10rem
        gap: 2.4rem

.about-container
    display: flex
    gap: 2.4rem
    flex-wrap: wrap
    // justify-content: space-between
    justify-content: space-around  
    margin-bottom: 4.4rem 
    @media only screen and (max-width: 480px)
        margin-bottom: 2.4rem
    
     

.photo-our-team
    border-radius: 16px    

.about-team    
    display: flex
    flex-direction: column    
    width: 29.7rem
    height: 51rem  
    margin-bottom: 1.6rem
    @media only screen and (max-width: 1023px)
        width: 28.5rem
        height: 49.5rem 
    @media only screen and (max-width: 740px)
        width: 89%
        max-width: 50rem
        height: 53.8rem 
   

.image-container-about
    position: relative
    width: 100%
    height: 35rem  
    margin-bottom: 1.6rem
    @media only screen and (max-width: 740px)
        height: 40rem 
 
    

.team-info p 
    margin-bottom: 1.6rem
    font-size: 2rem
    color: $color-text-about
    
.team-info p:first-child
    font-size: 2.4rem

.team-info p:last-child
    margin-bottom: 0px    

.about-linkedin
    font-size: 2rem
    text-decoration: underline
    color: $color-visited-link
    

.about-linkedin:visited
    color: $color-visited-link


.tech-steck
    display: flex
    gap: 2rem
    flex-wrap: wrap
    justify-content: space-evenly
    margin-bottom: 4.4rem

.tech-container
    border: 1px solid $color-background-loginpage
    border-radius: 1.6rem
    width: 24.8%
    max-width: 33rem    
    min-width: 23rem
    height: 20rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    box-sizing: border-box
    flex: 1 1 auto
    @media only screen and (max-width: 560px)        
        max-width: 35rem   
        min-width: 25rem

.tech-image-container    
    position: relative
    width: 15rem
    height: 10rem

                                
.tech-title
    font-size: 2rem
    color: $color-background-loginpage
    
    

.tech-steck-title
    font-size: 4rem
    color: $color-text-main
    font-weight: normal
    margin-bottom: 4rem
    @media only screen and (max-width: 740px)   
        text-align: center    
    @media only screen and (max-width: 480px)
        font-size: 3rem
        margin-bottom: 3rem

    
.player-wrapper
    margin: 0 auto
    max-width: 80vw
    max-height: 50vh
   
.react-player     
    max-width: 80vw !important 
    max-height: 50vh !important 
    
                            
.react-player .control-wrapper 
    visibility: hidden
                            
.player-wrapper:hover .react-player .control-wrapper 
    visibility: visible
                            