*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
    
html
    font-size: 62.5%
    max-width: 100%
    

body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Ubuntu"
    height: 100vh


#__next
    height: 100vh
    // display: flex
    // flex-direction: column
    // justify-content: center
    // align-items: center
    // gap: 1.6rem   
    // height: 100vh 
    
    

.main-part   
    text-align: center
    flex: 1 1 auto


