@import _variables.sass
*, ::after, ::before, h1, h2, h3,h4, h5, h6
    margin: 0
    padding: 0
    box-sizing: border-box
    
html
    font-size: 62.5%
    // max-width: 192rem       
    margin: 0 auto
    min-height: 100vh 
    
input
    font-family: "Ubuntu", serif 

button
    font-family: "Ubuntu", serif    

body
    margin: 0 auto
    padding: 0
    box-sizing: border-box        
    min-height: 100vh
    background: $background-color
    overflow-x: hidden    
    
a
    text-decoration: none
a:visited
    color: $color-text-main

    //////////
    overflow-x: hidden
     //////////
    

#__next
    min-height: 100vh  
    
    



