@import _variables.sass

.category-page    
    max-width: 192rem
    margin: 0 auto
    display: flex
    flex-direction: column

.category-main-content
    margin: 4.1rem 9rem
    flex:  1 1 auto

.subcategories-row
    margin-bottom: 4rem

.theWay
    margin-bottom: 4rem
    display: flex
    gap: .4rem
    align-items: center

.bread-crum-text-way
    color: $color-text-main    
    font-size: 1.6rem
    font-style: normal
    font-weight: 400
    line-height: normal