@import _variables.sass

.favorite-conteiner
    display: flex
    flex-direction: column
    min-height: 100vh   
    max-width: 192rem
    margin: auto

.favorite-content
    display: flex
    flex-direction: column
    flex: 1 1 100%
    height: 100%
    margin: 4rem 9rem 12.4rem 9rem
    @media only screen and (max-width : 1024px)
        margin: 4.1rem 7rem
    @media only screen and (max-width : 800px)
        margin: 4.1rem 5rem
    @media only screen and (max-width : 600px)
        margin: 3.1rem 3rem
    @media only screen and (max-width : 533px)
        margin: 2.4rem 1.6rem   

.item-favorite
    height: 100%
    width: 100%
    display: flex
    justify-content: flex-start
    @media only screen and (max-width : 533px)
        justify-content: center

.empty-favorite    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    flex: 1 1 100%
    height: 100%

.empty-favorite-button   
    padding: 1.2rem 3.8rem
    background-color: $valid-field-border
    border: 1px solid $valid-field-border
    border-radius: 8px
    color: $color-white
    cursor: pointer
    @media only screen and (max-width : 533px)
        width: 100%
        max-width: 34.3rem
        margin-bottom: 3.6rem

.favorite-title
    margin-top: 13.6rem
    margin-bottom: 22.1rem
    text-align: center

.title-favorite
    @media only screen and (max-width : 533px)
        // display: none
