@import _variables.sass

.selector-filter-container
    height: 4rem
    position: relative
    display: flex
    width: 100%    
    margin-bottom: 4rem    
    justify-content: flex-end
    align-items: baseline
    
.in-searchpage
    justify-content: space-between

.selected-sort-option   
    font-size: 1.8rem    
    width: 30rem
    height: 4rem
    padding: .8rem 1.2rem    
    border-radius: .8rem    
    border: 1px solid $border-color-secondary    
    color: $color-background-loginpage
    display: flex
    align-items: center
    justify-content: space-between  
    margin-bottom: .8rem 
    cursor: pointer


.filter-arrow-button    
    width: 2.4rem
    height: 2.4rem
    border: none
    background: #FBFBFB

.options-list   
    position: relative 
    font-size: 1.8rem  
    width: 30rem
    height: 0    
    border: none
    transition: height 0.3s ease-in-out
    background-color: $background-color
    
    
.display-option-list
    height: 12.8rem
    border-radius: .8rem    
    border: 1px solid $border-color-secondary    
    color: $color-background-loginpage    
    transition: height 0.2s ease-out
    z-index: 999
    background-color: $color-white


.filter-li-options
    padding: .8rem 1.2rem  
    display: flex
    align-items: center
    justify-content: space-between
    opacity: 0   

.display-li-options
    opacity: 1
    transition: opacity 0.5s ease
    cursor: pointer
    z-index: 99
   

.filter-checked-container
    opacity: 0
    transition: opacity 0.5s ease

.filter-li-options:hover
    .filter-checked-container        
        opacity: 1





////////////////////////////////// ASIDE  ////////////////////////////////// 


.goods-list-filter-column
    border-radius: 1.6rem
    width: 20.9%
    // height: 53.3rem
    height: 20%    
    background-color: $background-color-filter
    border: 1px solid $border-color-secondary
    padding: 2.4rem
    display: flex
    flex-direction: column
    color: $color-text-main
    font-size: 1.8rem
    font-style: normal
    font-weight: 400
    line-height: normal
    // flex: 0 0 auto
    

.aside-filter-price, .goods-producer-title
    margin-bottom: 1.6rem

.filter-range
    margin-bottom: 2.5rem
    display: flex
    color: $color-text-search !important


.filter-price-start, .filter-price-end
    width: 6rem    
    height: 2.4rem
    border-radius: .8rem
    border: 1px solid #D9D9D9
    background-color: #F5F6F7     
    color: $color-text-main   
    font-size: 1.8rem
    font-style: normal
    font-weight: 400
    line-height: normal
    text-align: center

.filter-price-start::placeholder, .filter-price-end::placeholder
    color: $color-text-search !important


.filter-price-start
    margin-right: .4rem

.filter-price-end
    margin-left: .4rem


.filter-price-start::placeholder, .filter-price-end::placeholder
    color: $color-background-loginpage

.goods-producer-list
    list-style-type: none
    margin-bottom: 2.5rem

.goods-producer-list li
    margin-bottom: .8rem

.input-label
    display: flex
    align-items: center
    cursor: pointer

.span-input  
    margin-right: .8rem
    border: 1px solid #D9D9D9     
    width: 1.6rem
    height: 1.6rem
    border-radius: 3px
    
.filter-availability
    margin-right: .8rem
    margin-bottom: 2.4rem

.aside-filter-button
    display: block
    margin: 0 auto
    padding: .8rem 2.3rem
    color: $color-white  
    font-size: 1.8rem
    font-style: normal
    font-weight: 400
    line-height: normal
    border-radius: .8rem
    background-color: $valid-field-border
    border: none   
    cursor: pointer

   
.checkbox
    display: none 

.span-input
    height: 1.6rem
    width: 1.6rem
    border: 1px solid #D9D9D9
    display: block
    position: relative
    border-radius: 2px
    cursor: pointer

.checkbox:checked
    & + .span-input
        width: 16px
        height: 16px        
        border: 1px solid $valid-field-border


.checkbox:checked + .span-input:before 
    background-image: url("/Vector (Stroke).png")
    background-size: cover 
    position: absolute
    width: 12px
    height: 11px
    top: 1px
    left: 1px    
    content: ''
 

.mb-label
    margin-bottom: 2.4rem
