@import _variables.sass

.footer
    height: 17.6rem
    background-color: $color-background-loginpage
    padding: 2.4rem 9rem 
    color: $color-white
    display: flex
    justify-content: space-between
.footer p
    font-size: 1.2rem
    font-style: normal
    font-weight: 400
    line-height: 150%
   
.footer-paragraf
    margin-bottom: 1.2rem   

.footer-lert-column-logo-container
    position: relative
    width: 11rem
    height: 5.6rem
    margin-bottom: 2.4rem
    

.footer-central-column
    display: flex
    align-items: flex-end