@import _variables.sass

.goods-list-render
    display: flex
    // flex-direction: column
    width: 100%
    gap: 2%    
    margin-bottom: 4rem

   

.goods-list-goods-items
    display: flex
    flex-wrap: wrap
    gap: 2.4rem
    width: 77.1%
    height: auto
    
   
