@import _variables.sass
.header-component
    display: flex
    align-items: center
    justify-content: space-between
    height: 9.6rem
    font-size: 2rem
    padding: 0 9rem 
    color: white
    border-bottom: 1px solid #FFF
    position: relative
    background-color: #010101
    

// .header-main-nobg
//     background-color: transparent
    
.header-search-field
    width: 40.4rem   
    width: clamp(5rem, 28vw, 40.2rem)
    position: absolute    
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


.header-input-field
    width: 100%
    height: 4rem
    border-radius: 5px
    border: none
    background-color: $color-white
    font-size: 1.6rem
    color: $color-text-gray
    padding: 0 4rem 0 1.6rem
    outline: none

.search-input-field
    position: absolute
    top: 1.2rem
    right: .8rem

.search-input-field
    cursor: pointer

.logo-image-client
    margin-right: 2.4rem

.header-icons
    display: flex
    justify-content: flex-end
    align-items: center
    // min-width: 23rem

.header-user-name
    margin-right: 1.6em
    color: $color-white
    font-size: 1.8rem
    font-style: normal
    font-weight: 400
    line-height: 1.8rem
    // letter-spacing: -0.18rem

.header-in-main    
    width: 100%
    max-width: 1920px
    height: 77rem
    margin: 0 auto
    z-index: -1
    overflow: hidden

h1
    margin-top: 11.6rem
    font-size: 14rem
    font-weight: 500
    line-height: 150%     
    background: linear-gradient(180deg, #DBDBDB 0%, #FFF 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-align: center
    text-transform: uppercase

h2
    color: #EBEBEC
    text-align: center
    font-family: Ubuntu
    font-size: 4.8rem
    font-style: normal
    font-weight: 400
    line-height: normal


.logo-image-basket
    margin-right: 2.4rem

.logo-image-favorite
    width: 24px
    height: 24px   

.header-icons
    position: relative

.quantityOfGoods, .quantityOfFavorite
    display: flex
    align-items: center
    justify-content: center
    top:-6px
    right: 40px
    width: 1.6rem
    height: 1.6rem
    border-radius: 50% 
    font-size: 1rem
    position: absolute
    background-color: $color-blue
    color: $color-white

.quantityOfFavorite
    right: -6px



.search-results-header
    display: block
    border: 1px solid #012767
    position: absolute    
    top: 115px
    left: 50%
    transform: translateX(-50%)
    z-index: 666
    background-color: #F8FAFC
    font-size: 1.6rem
    border-radius: 0.5rem
    width: 65rem
    max-height: 45rem
    // max-height: 15rem
    overflow-y: auto
    padding: 2rem
   


.result-item
    display: flex
    gap: 2rem
    color: $color-background-loginpage
    margin-bottom: 2rem
    cursor: pointer
    height: 8rem

.item-image-container
    position: relative
    height: 8rem
    width: 8rem  
    


.item-content-container
    display: flex
    width: 100%    
    flex-direction: column
    border-bottom: 1px solid #e8e8e8
    
    

.search-total
    display: flex
    justify-content: flex-end
    color: $color-background-loginpage    
    margin: 3rem 0 2rem    
    cursor: pointer

.search-id
    // font-size: 1.2rem !important
    margin-bottom: 20px

.is-wisible
    display: none