@import "_variables.sass"
.login-page
    min-height: 100vh   
    // min-width: 100vw   !important
    // margin: 0 auto !important
    position: relative    
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center   
              

.content    
    margin: 11.5rem 0
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap    
    width: 75%
    max-width: 108rem
    // height: 75% 
    // height: 76.8rem 
    min-height: 76.8rem 
    background-color: $color-background-loginpage
    border-radius: 1.6rem 

.sing-in-left-column, 
.sing-in-right-column 
    // padding: 10.3rem 6rem 4.4rem      
    flex-basis: 50%
   

.sing-in-left-column
   padding: 10.3rem 6rem 4.4rem   

.sing-in-right-column 
    padding: 10.3rem 6rem 4.4rem 6.5rem

.login-page-text
    color: $color-white
    font-weight: 300
    font-size: 2.8rem
    line-height: 4.8rem 
    

.secondary-button
    padding: 1.3rem 
    border-radius: .8rem
    width: 15.5rem
    border: none
    color: $color-white
    background-color: $color-background-loginpage    
    border: 1px solid #F8FAFC
    margin-top: 2.4rem
    transition: background 0.3s


.btn-login-page
    font-size: 1.6rem
    line-height: 2rem
    width: 16rem
    padding: 1.2rem 1.4rem    
    border: .1rem solid $color-blue
    color: $color-white    
    border-radius: .8rem    
    background: linear-gradient( $color-blue, #116ACC00)
    transition: background 0.3s
    margin-bottom: .8rem

.btn-login-page:hover, .secondary-button:hover
    background: $color-hover-button
    border: .1rem solid $color-hover-button

.btn-login-page:active, .secondary-button:active
    background: $color-blue


.forgot-password-link
    width: 16rem
    text-align: center
    margin-top: 1.3rem

.forgot-link
    color: $color-white
    font-size: 1.2rem  




///////////////////////// right-column-paragraph  /////////////////////////

.right-column-paragraph
    color: $color-white
    font-size: 2rem
    font-weight: 300    
    margin-bottom: 1.6rem
    

.singin-form, .registration-form
    display: flex
    flex-direction: column
    position: relative

.container-to-field
    position: relative
    height: 5.8rem
    max-width: 30rem
    

.label-title
    font-weight: 300
    font-size: 1.8rem    
    color: $color-white
    margin-bottom: .8rem

.user-email, .user-password, .user-name, .user-surname, .user-tel, .user-password, .user-passwordAgain    
    width: 100%
    max-width: 30rem  
    min-width: 21rem
    padding: .9rem .9rem 1rem 1.6rem
    border-radius: 1rem
    border: 1px solid #9CA3AF
    font-weight: 400
    font-size: 1.6rem
    line-height: 125%
    color: $color-text-gray
    margin-bottom: .5rem

.user-email:focus, .user-password:focus, .user-name:focus, .user-surname:focus, .user-tel:focus, .user-password:focus, .user-passwordAgain:focus 
    background-color: #b3cee2
    border-color: #116ACC
    outline: 1px solid  #116ACC


.icon-show-password
    position: absolute
    top: 1.2rem
    right: 1rem    

.politcik-registration
    max-width: 30rem
    font-size: .8rem
    font-weight: 400    
    line-height: normal
    color: $color-white
    font-family: Montserrat

.politcik-registration-link
    color: $color-blue
    font-family: Montserrat  


.paragraf-buttom
    color: white

.border-red
    border-color: #ba0000
    outline: 1px solid  #ba0000

.border-green
    border-color: #76CA66
    outline: 1px solid  #76CA66

.user-tel::-webkit-outer-spin-button,
.user-tel::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0