@import "_variables.sass"
.login-page
    height: 100vh   
    position: relative    
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center          

.content
    padding: 0 6rem 
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap    
    width: 75%
    min-height: 75%    
    background-color: $color-background-loginpage
    border-radius: 1.6rem 

.sing-in-left-column, 
.sing-in-right-column
    padding: 2rem 0
    // height: 100%
    // max-width: 30rem    
    flex-basis: 50%
    box-sizing: border-box   

.sing-in-right-column 
    padding-left: 2rem 

.login-page-text
    color: $color-white
    font-weight: 300
    font-size: 3.2rem
    line-height: 4.8rem    

// .button-singin
//     margin-top: 2.4rem 


.btn-login-page
    font-size: 1.6rem
    line-height: 2rem
    width: 16rem
    padding: 1.6rem 1.4rem
    background-color: $color-blue
    border: none
    color: $color-white
    border-radius: 1rem
    margin-bottom: 1.3rem

.forgot-password-link
    width: 16rem
    text-align: center
.forgot-link
    color: $color-white


///////////////////////// right-column-paragraph  /////////////////////////

.right-column-paragraph
    color: $color-white
    font-size: 3.2rem
    font-weight: 300
    line-height: 3.7rem
    margin-bottom: 1.8rem

.singin-form, .registration-form
    display: flex
    flex-direction: column
    

.label-title
    font-weight: 300
    font-size: 2rem
    line-height: 2.3rem
    color: $color-white
    margin-bottom: 1rem

.userEmail, .userPasswor, .userName, .userSurname, .userTel, .userPassword, .userPasswordAgain
    max-width: 30rem
    padding: 1.2rem 0 1.2rem 1.6rem
    border-radius: 1rem
    border: none
    font-weight: 400
    font-size: 1.6rem
    line-height: 2rem
    color: $color-text-gray
    margin-bottom: 1.8rem

