@import "_variables.sass"
.login-page
    min-height: 100vh   
    position: relative    
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center          

.content
    padding: 0 6rem 
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap    
    width: 75%
    min-height: 75vh   
    background-color: $color-background-loginpage
    border-radius: 1.6rem 

.sing-in-left-column, 
.sing-in-right-column 
    // padding: 1.2rem 0        
    flex-basis: 50%
    box-sizing: border-box 

.sing-in-left-column
    padding-top: 1rem
    padding-bottom: 1.4rem  

.sing-in-right-column 
    padding-left: 2rem 

.login-page-text
    color: $color-white
    font-weight: 300
    font-size: 2.8rem
    line-height: 4.8rem 

.secondary-button
    padding: 1.3rem 
    border-radius: .8rem
    width: 15.5rem
    border: none
    color: $color-white
    background-color: $color-background-loginpage    
    border: 1px solid #F8FAFC
    margin-top: 2.4rem
    transition: background 0.3s


.btn-login-page
    font-size: 1.6rem
    line-height: 2rem
    width: 16rem
    padding: 1.2rem 1.4rem    
    border: 1px solid $color-blue
    color: $color-white    
    border-radius: 1rem    
    background: linear-gradient( $color-blue, #116ACC00)
    transition: background 0.3s

.btn-login-page:hover, .secondary-button:hover
    background: #34C3DD
    border: 1px solid #34C3DD

.btn-login-page:active, .secondary-button:active
    background: #116ACC


.forgot-password-link
    width: 16rem
    text-align: center
    margin-top: 1.3rem

.forgot-link
    color: $color-white
    font-size: 1.2rem
    margin-bottom: 2rem
   


///////////////////////// right-column-paragraph  /////////////////////////

.right-column-paragraph
    color: $color-white
    font-size: 2rem
    font-weight: 300
    line-height: 3.7rem
    margin-bottom: 1rem

.singin-form, .registration-form
    display: flex
    flex-direction: column
    position: relative
    

.label-title
    font-weight: 300
    font-size: 1.8rem
    line-height: 2.3rem
    color: $color-white
    margin-bottom: .8rem

.user-email, .user-passwor, .user-name, .user-surname, .user-tel, .user-password, .user-passwordAgain    
    max-width: 30rem
    padding: .9rem .9rem 1rem 1.6rem
    border-radius: 1rem
    border: 1px solid #9CA3AF
    font-weight: 400
    font-size: 1.6rem
    line-height: 2rem
    color: $color-text-gray
    margin-bottom: 1.6rem 

.user-email:focus
    border: 1px solid #116ACC
    background-color:rgba(160, 195, 255, 0.1)
    // opacity: .1


.showOrHidePassword    
    // display: inline-block
    position: relative
    top: -5rem
    // left: 31.4rem
    right: -31rem


