@import _variables.sass

.selector-filter
    margin-bottom: 4rem
    padding: .8rem 1.2rem
    width: 26rem
    height: 4rem
    border-radius: .8rem    
    border: 1px solid $border-color-secondary
    outline: none   

