@import "_variables.sass"

.right-culumn-user-list-to-render-container 
    display: flex
    flex-direction: column   
    justify-content: space-between
    height: 100%
    font-size: 1.8rem
    color: $color-text-main   
    overflow: hidden    
    padding: 2.4rem  2.4rem 0 2.4rem    
    @media only screen and (max-width : 1120px)
        padding: 0
    

.grid-container-users-goods
    display: grid      
    grid-template-columns: minmax(4.7%, auto) minmax(10.4%, auto) minmax(35.4%, auto) minmax(10%, auto) minmax(2%, auto)
    gap: 1rem
    margin-bottom: 2rem
    @media only screen and (max-width : 1120px)
        display: none

.container-in-orders
    // grid-template-columns: repeat(5, auto)
    grid-template-columns: minmax(12rem, auto) minmax(19rem, auto) minmax(15rem, auto) minmax(10rem, auto) minmax(17rem, auto)
   

.user-good-description
    overflow: hidden
    text-overflow: ellipsis
    
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

.order-info-points-container
    display: flex
    flex-direction: column
    gap: .3rem
    align-items: center
    justify-content: center
    cursor: pointer
    width: 2.4rem
    height: 2.4rem
    position: relative

.order-info-points
    position: relative
    width: .45rem
    height: .45rem
    z-index: -2

.edit-menu
    position: absolute
    display: none
    width: 14.3rem
    height: 9rem
    padding: .8rem 1.2rem
    border: 1px solid $border-color-secondary
    border-radius: 4px
    top: 1px
    right: 22px
    z-index: 2
    background-color: $color-white
    > :nth-child(-n+2)
        margin-bottom: 4px

.show-edit-menu
    display: block

.bodrers-3
    border-top: 1px solid black
    border-bottom:  1px solid black
    border-left: 1px solid black
    border-top-left-radius: .4rem
    border-bottom-left-radius: .4rem
    

.bodrers-2
    border-top: 1px solid black
    border-bottom:  1px solid black

.bodrers--3
    border-top: 1px solid black
    border-bottom:  1px solid black
    border-right: 1px solid black
    border-top-right-radius: .4rem
    border-bottom-right-radius: .4rem
    cursor: pointer

.photo-in-orders
    margin: 1px 0

.flex-center
    display: flex
    flex-direction: column
    justify-content: center
   
.selector-in-orders
    height: 3.8rem
    width: 100%
    cursor: pointer
    color: $color-background-loginpage
    font-size: 1.6rem
    border-radius: .4rem
    border: 1px solid $color-black
    // text-indent: 5px
    padding: .5rem



.selector-in-orders:focus-visible   
    outline: none

.options-in-odreds
    padding: .5rem