@import "_variables.sass"

.add-new-good
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

.photo-previews-row
    display: flex
    gap: 1.2rem
    flex-wrap: wrap
    margin-bottom: 2.4rem
    
   
.photo-preview
    position: relative
    // cursor: pointer

.input-photo-preview
    width: 10rem
    height: 10rem
    border: 1px solid $color-text-main
    border-radius: 4px
    z-index: 77
    cursor: pointer   

.image-container-add-good
    width: 100%
    height: 100%
    background-color: #F3F4F6
    position: absolute
    top: 0
    z-index: -2

.input-photo-delete-image
    position: absolute
    width: 100%
    height: 100% 
    z-index: 78
    cursor: pointer

.container-for-cross
    position: absolute
    top: 4px
    right: 4px    
    width: 1.6rem
    height: 1.6rem
    z-index: 100
    cursor: pointer

.input-photo-bg-image
    position: absolute
    right: 50%
    bottom: 50%
    transform: translate(50%, 50%)   
    z-index: 3
    border-radius: 4px
    width: 2.4rem
    height: 2.4rem 
.input-photo-bigger
    width: 65%
    height: 65%



.input-photo-preview::-webkit-file-upload-button
    visibility: hidden


.product-description-form-input
    width: 49.8rem
    height: 15rem
    border: 1px solid $color-text-main
    border-radius: 8px
    background-color: $background-color
    padding: 1.6rem
    font-size: 1.6rem
    color: $color-text-main
    outline: 1px solid $color-text-main
    resize: none

.button-container
    display: flex
    justify-content: right

.button-submit-form
    padding: .8rem 3.6rem
    font-size: 1.8rem
    border: 1px solid $valid-field-border
    border-radius: 4px 
    color: $color-text-main
    background-color: $background-color
    cursor: pointer