@import _variables.sass

.userPage
    display: flex
    flex-direction: column
    min-height: 100vh
    max-width: 192rem    
    margin: 0 auto

.userPage-content
    display: flex
    gap: 1.7%
    flex: 1 1 auto
    margin: 4rem 0 14rem

//////////////////   LEFT COLUMN   //////////////////
.userPage-left-column
    width: 26.9%
    height: 69.4rem   
    padding: 2.4rem
    color: $background-color
    background-color: $color-background-loginpage
    z-index: 3

.active-color
    color: $valid-field-border


.left-column-title
    font-size: 3.2rem
    font-weight: normal
    margin-bottom: 2.4rem

.left-column-item   
    margin-bottom: 2.4rem
    font-size: 2.4rem
    font-weight: normal
    cursor: pointer
   

.left-column-orders-list, .left-column-goods-list
    height: 0   
    transition:  .5s ease-out
    overflow: hidden    
    li:last-child 
        margin-bottom: 0
    li:first-child 
        padding-top:2.4rem

.list-open-orders    
    height: 31.2rem

.list-open-goods   
    height: 20.8rem


.userPage-left-column-orders, .userPage-left-column-goods
    display: flex
    gap: .8rem   
    height: 2.5rem    

.left-column-item-image-container
    width: 2.4rem
    height: 2.4rem
    position: relative
    margin-bottom: 2.4rem
    transform: rotate(-90deg)
    transition: transform 0.5s ease

.image-container-transform
    transform: rotate(0deg)

.left-column-orders-li, .left-column-goods-li
    margin-bottom: 2.4rem
    list-style: none
    display: flex
    gap: .8rem
    // z-index: -5

.orders-li-image-container, .goods-li-image-container
    width: 2.4rem
    height: 2.4rem
    position: relative












//////////////////   RIFHT COLUMN   //////////////////
.userPage-right-column
    width: 71.4%
    height: 69.4rem
    border: 1px solid $color-hover-button
    padding: 2.4rem 2.4rem 0 2.4rem
    overflow-y: auto
    


//////////////////   RIFHT COLUMN  USER INFO  //////////////////

.user-info-form
    display: flex
    flex-direction: column

.user-info-form-label, .product-name-title, .product-price-title, .product-price-photo, .product-description-title
    margin-left: 1.6rem
    font-size: 2.2rem
    color: $color-text-main
    margin-bottom: 1rem

.user-info-form-input, .product-name-form-input, .product-price-form-input
    max-width: 49.8rem
    height: 6rem
    margin-bottom: 2.4rem
    padding: 1.6rem
    font-size: 2.4rem
    color: $color-text-main
    border: 1px solid $color-text-main
    border-radius: .8rem
    outline: 1px solid $color-text-main

.form-input-unactive
    color: #6B7280    
    outline: 1px solid  #6B7280
    border: 1px solid  #6B7280

.form-input-unactive-text
    color: #6B7280 

.form-input-border-green
    border: 1px solid  $valid-field-border

.form-input-border-red
    border: 1px solid  $red-color-first

.user-info-buttons-container
    display: flex
    justify-content: space-between
    padding: 0 1.6rem 

.user-info-button    
    border: none
    color: $color-text-main
    background-color: $background-color
    cursor: pointer
    font-size: 2.2rem   
    

.button-display-none
    opacity: 0
    cursor: auto

.button-edit::after    
    content: ""    
    display: block
    border-bottom: 2px solid $color-text-main
    width: 17rem
    height: 0px

.button-save
    border: 1px solid $valid-field-border
    padding: .8rem 3.6rem
    border-radius: .4rem
    
   