@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

input {
  font-family: "Ubuntu", serif;
}

button {
  font-family: "Ubuntu", serif;
}

input:focus-visible {
  outline: 1px solid #116ACC;
}

input:invalid {
  border-color: 5px solid #76CA66;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  height: 100vh;
}

#__next {
  min-height: 100vh;
}

.header {
  height: 2rem;
  font-size: 2rem;
}

.main {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-content {
  margin-top: 2rem;
  flex: 1 1 auto;
  text-align: center;
  font-size: 2rem;
  gap: 1rem;
}

.header-title, .main-link, .button-main {
  margin: 1rem;
}

.button-main {
  font-size: 2rem;
}

.footer {
  height: 2rem;
  font-size: 2rem;
}

.login-page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 6rem;
  margin: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  max-width: 108rem;
  min-height: 75vh;
  background-color: #012767;
  border-radius: 1.6rem;
}

.sing-in-left-column,
.sing-in-right-column {
  flex-basis: 50%;
  box-sizing: border-box;
}

.sing-in-left-column {
  padding-top: 1rem;
  padding-bottom: 1.4rem;
}

.sing-in-right-column {
  padding-left: 2rem;
}

.login-page-text {
  color: #F8FAFC;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4.8rem;
}

.secondary-button {
  padding: 1.3rem;
  border-radius: 0.8rem;
  width: 15.5rem;
  border: none;
  color: #F8FAFC;
  background-color: #012767;
  border: 1px solid #F8FAFC;
  margin-top: 2.4rem;
  transition: background 0.3s;
}

.btn-login-page {
  font-size: 1.6rem;
  line-height: 2rem;
  width: 16rem;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #116ACC;
  color: #F8FAFC;
  border-radius: 0.8rem;
  background: linear-gradient(#116ACC, rgba(17, 106, 204, 0));
  transition: background 0.3s;
}

.btn-login-page:hover, .secondary-button:hover {
  background: #34C3DD;
  border: 0.1rem solid #34C3DD;
}

.btn-login-page:active, .secondary-button:active {
  background: #116ACC;
}

.forgot-password-link {
  width: 16rem;
  text-align: center;
  margin-top: 1.3rem;
}

.forgot-link {
  color: #F8FAFC;
  font-size: 1.2rem;
}

.right-column-paragraph {
  color: #F8FAFC;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.7rem;
  margin-bottom: 1rem;
}

.singin-form, .registration-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label-title {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #F8FAFC;
  margin-bottom: 0.8rem;
}

.user-email, .user-passwor, .user-name, .user-surname, .user-tel, .user-password, .user-passwordAgain {
  max-width: 30rem;
  padding: 0.9rem 0.9rem 1rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid #9CA3AF;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #6B7280;
  margin-bottom: 1.6rem;
}

.user-email:focus {
  background: rgba(160, 195, 255, 0.95);
}

.user-email:invalid, .user-passwor:invalid {
  background-color: 5px solid #76CA66;
}

.showOrHidePassword {
  position: relative;
  top: -5rem;
  right: -31rem;
}/*# sourceMappingURL=globals.css.map */