@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

input {
  font-family: "Ubuntu", serif;
}

button {
  font-family: "Ubuntu", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  min-width: 100vw;
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
}

.header {
  height: 2rem;
  font-size: 2rem;
}

.main {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-content {
  margin-top: 2rem;
  flex: 1 1 auto;
  text-align: center;
  font-size: 2rem;
  gap: 1rem;
}

.header-title, .main-link, .button-main {
  margin: 1rem;
}

.button-main {
  font-size: 2rem;
}

.footer {
  height: 2rem;
  font-size: 2rem;
}

.login-page {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 12.8rem 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  max-width: 108rem;
  min-height: 76.8vh;
  background-color: #012767;
  border-radius: 1.6rem;
}

.sing-in-left-column,
.sing-in-right-column {
  flex-basis: 50%;
  box-sizing: border-box;
}

.sing-in-left-column {
  padding: 10.3rem 6rem 4.4rem;
}

.sing-in-right-column {
  padding: 10.3rem 6rem 4.4rem 6.5rem;
}

.login-page-text {
  color: #F8FAFC;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4.8rem;
}

.secondary-button {
  padding: 1.3rem;
  border-radius: 0.8rem;
  width: 15.5rem;
  border: none;
  color: #F8FAFC;
  background-color: #012767;
  border: 1px solid #F8FAFC;
  margin-top: 2.4rem;
  transition: background 0.3s;
}

.btn-login-page {
  font-size: 1.6rem;
  line-height: 2rem;
  width: 16rem;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #116ACC;
  color: #F8FAFC;
  border-radius: 0.8rem;
  background: linear-gradient(#116ACC, rgba(17, 106, 204, 0));
  transition: background 0.3s;
  margin-bottom: 0.8rem;
}

.btn-login-page:hover, .secondary-button:hover {
  background: #34C3DD;
  border: 0.1rem solid #34C3DD;
}

.btn-login-page:active, .secondary-button:active {
  background: #116ACC;
}

.forgot-password-link {
  width: 16rem;
  text-align: center;
  margin-top: 1.3rem;
}

.forgot-link {
  color: #F8FAFC;
  font-size: 1.2rem;
}

.right-column-paragraph {
  color: #F8FAFC;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.7rem;
  margin-bottom: 1rem;
}

.singin-form, .registration-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-to-field {
  position: relative;
  height: 5.8rem;
  max-width: 30rem;
}

.label-title {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #F8FAFC;
  margin-bottom: 0.8rem;
}

.user-email, .user-password, .user-name, .user-surname, .user-tel, .user-password, .user-passwordAgain {
  width: 100%;
  min-width: 21rem;
  padding: 0.9rem 0.9rem 1rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid #9CA3AF;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #6B7280;
  margin-bottom: 0.5rem;
}

.user-email:focus, .user-password:focus, .user-name:focus, .user-surname:focus, .user-tel:focus, .user-password:focus, .user-passwordAgain:focus {
  background-color: #b3cee2;
  border-color: #116ACC;
  outline: 1px solid #116ACC;
}

.icon-show-password {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}

.politcik-registration {
  max-width: 30rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: normal;
  color: #F8FAFC;
  font-family: Montserrat;
}

.politcik-registration-link {
  color: #116ACC;
  font-family: Montserrat;
}

.paragraf-buttom {
  color: white;
}

.border-red {
  border-color: #ba0000;
  outline: 1px solid #ba0000;
}

.border-green {
  border-color: #76CA66;
  outline: 1px solid #76CA66;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 4;
  min-width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.spinner-circle {
  width: 62px;
  height: 62px;
  border: 2px solid #116ACC;
  border-radius: 50%;
  border-top: 2px solid #b3cee2;
  animation: rotate 2s linear infinite;
}

.spinner-line {
  margin-top: 42px;
  width: 186px;
  height: 2px;
  background: linear-gradient(to right, #b3cee2 25%, #116ACC 50%, #116ACC 75%, #b3cee2 100%);
  background-size: 200% 100%;
  background-size: 200% 100%;
  animation: colorTransition 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes colorTransition {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes colorTransition {
  0% {
    background-position: 400% 0;
  }
  25% {
    background-position: 300% 0;
  }
  50% {
    background-position: 200% 0;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.div-input {
  display: flex;
  flex-direction: column;
}

.input-login-page:focus {
  border: 1px solid #116ACC;
  outline: 1px solid #116ACC;
}

.input-login-page:invalid {
  border-color: #ba0000;
  outline: 1px solid #ba0000;
}

.error {
  color: #ba0000;
  margin-top: 4px;
}

.error {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}/*# sourceMappingURL=globals.css.map */